# Entornos de Python y cachés
__pycache__/
*.pyc
venv/

# Archivos generados por la aplicación
backend/uploads/
backend/results/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
# Esto ignora el archivo .env que contiene tu MISTRAL_API_KEY.
.env
